# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.venv/
venv/
ENV/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# dotenv
.env


# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Byte-compiled / optimized / DLL files
*$py.class

# Test & coverage
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Mypy / Ruff / others
.mypy_cache/
.ruff_cache/
dmypy.json
**/.DS_Store


